# n8n postgres pgadmin

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      DB_TYPE: ${DB_TYPE}
      DB_POSTGRES_HOST: ${POSTGRES_HOST}
      DB_POSTGRES_DATABASE: ${POSTGRES_DB}
      DB_POSTGRES_USER: ${POSTGRES_USER}
      DB_POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      WEBHOOK_URL: ${WEBHOOK_URL}
      N8N_HOST: ${N8N_HOST}      
      N8N_NATIVE_PYTHON_RUNNER: ${N8N_NATIVE_PYTHON_RUNNER}
      N8N_PROTOCOL: ${N8N_PROTOCOL}
      N8N_PROXY_HOPS: ${N8N_PROXY_HOPS}
      N8N_SECURE_COOKIE: ${N8N_SECURE_COOKIE}
      EXECUTIONS_PROCESS: ${EXECUTIONS_PROCESS}
      QUEUE_MODE: ${QUEUE_MODE}      
      GENERIC_TIMEZONE: Europe/Moscow

    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - postgres

  postgres:
    image: postgres:14
    container_name: postrges
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  n8n_data:
  postgres_data:
